html {
  scroll-behavior: smooth;
}

.font-green {
  color: #66ada8;
}

.font-org {
  color: #fd9583;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3c2c2c;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  font-size: 16px;
  min-height: 100vh;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 0.5rem;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

.nav {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__logo {
  display: none;
}

.nav__list {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  background-color: #66ada8;
  color: #f9f7f7;
  text-align: center;
  padding: 0.5rem 0;
  transition: all 0.5s ease-in-out;
}

.nav__list li {
  list-style: none;
  margin: 0.75rem auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__list li a {
  text-decoration: none;
  color: #f9f7f7;
}

.nav__list li a:hover {
  color: #fd9583;
}

.nav.open {
  visibility: visible;
  height: 10rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav.open .nav__list {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ham {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ham__burger {
  width: 24px;
  height: 2px;
  background: #3c2c2c;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.ham__burger::after {
  content: '';
  width: 24px;
  height: 2px;
  background: #3c2c2c;
  border-radius: 5px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.ham__burger::before {
  content: '';
  width: 24px;
  height: 2px;
  background: #3c2c2c;
  border-radius: 5px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.ham.open .ham__burger {
  -webkit-transform: translateX(-28px);
          transform: translateX(-28px);
  background: transparent;
}

.ham.open .ham__burger::before {
  -webkit-transform: rotate(45deg) translate(20px, -20px);
          transform: rotate(45deg) translate(20px, -20px);
}

.ham.open .ham__burger::after {
  -webkit-transform: rotate(-45deg) translate(20px, 20px);
          transform: rotate(-45deg) translate(20px, 20px);
}

.mob-logo {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
  margin: auto;
  margin-top: 2.66rem;
  width: 80%;
  max-width: 100% !important;
  height: auto;
}

.landing {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.landing__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0.5rem auto 1rem auto;
}

.landing__hero {
  display: none;
}

.landing__hero--center {
  width: 80%;
  margin: 1.5rem auto;
}

.scroll {
  margin: auto;
  margin-top: 2rem;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 28px;
  height: 28px;
}

.scroll:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.decor {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: auto;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  margin: 0;
  margin-top: 2.25rem;
  text-align: center;
}

h4 {
  margin: 0;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.25rem;
}

h6 {
  margin: 1rem 0;
  font-size: 0.625rem;
  font-weight: 400;
}

.sep--green {
  width: 50%;
  border-radius: 4px;
  border-top: 4px solid #66ada8;
}

.sep--org {
  width: 50%;
  border-radius: 4px;
  border-top: 4px solid #fd9583;
}

p {
  text-align: center;
  font-size: 0.625rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
  margin: auto;
  margin-bottom: 4rem;
}

.project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__role {
  font-weight: 500;
  margin-top: 1.25rem;
}

.project__icons {
  margin: 0 auto;
}

.project p {
  margin: 3rem 0 4rem 0;
}

.project img {
  margin-bottom: 2rem;
  max-width: 100%;
  height: auto;
}

img.no-title {
  margin-bottom: 4rem;
}

.background-frame {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: -1;
  border-radius: 5% 5% 0 0;
  bottom: 0;
}

.background-frame--org {
  background-color: #fd9583;
}

.background-frame--green {
  background-color: #66ada8;
}

footer {
  display: -ms-grid;
  display: grid;
  max-height: 40vh;
  width: 100%;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  background-color: #66ada8;
  color: #f9f7f7;
  padding-bottom: 2rem;
}

footer .top {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 350;
}

footer .top__icon {
  margin-bottom: 0.5rem;
}

footer .made-by {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 11;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  font-size: 0.75rem;
  text-align: right;
}

footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  padding: 0;
  margin: 0;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
}

footer .nav li {
  list-style: none;
  margin: 0.35rem 0;
  font-size: 0.85rem;
}

footer .nav li a {
  cursor: pointer;
  text-decoration: none;
  color: #f9f7f7;
}

footer .nav li a:hover {
  color: #fd9583;
}

@media only screen and (min-width: 700px) {
  .grid-wrapper {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .mob-logo {
    margin: 3.825rem auto 0 auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .ham {
    display: none;
  }
  .nav {
    visibility: visible;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 10;
    margin: 0 auto 2rem auto;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__list li {
    padding: 0 0.5rem;
    font-size: 1.25rem;
  }
  .nav__list li a {
    color: #3c2c2c;
  }
  .landing {
    width: 100%;
    margin: 0;
  }
  .landing__img {
    height: auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .landing__hero {
    display: none;
  }
  .landing__hero--center {
    margin: 3rem auto 0 auto;
    width: 70%;
  }
  .decor {
    width: 80%;
    height: auto;
  }
  .scroll {
    width: 45px;
    height: 45px;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */